header, main, footer{
  max-width: 960px;
  margin: 0 auto;
}

#profile-background{
  background-color: grey;
  height: 40px;
  text-align: center;
}
#author-background{
  background-color:grey;
  height:40px;
  
}
#website-reference{
  text-align: center;
}

#lastime-visit{

   color: greenyellow;
  text-align: center;
}

#photo > img{
  height:100px;
  width: auto;
  float: right;
  
}

footer {
  padding: 10px;
}