@media only screen and (min-width: 37.5em) {
    map {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 37em;
    }
    section:nth-child(3) {
        grid-column: span 2;
    }
    header,
    footer {
        width: 37em;
    }
}