@media only screen and (max-width: 600px)
p{
    font-family: 'Roboto', sans-serif;
}

.map{
    display: grid;
    grid-template-columns: 1fr; 
    grid-column-gap: 50px;
    width: 80%;
    margin: auto;
}
.map section{

    border: ;
    border-radius:15px ;
    padding:10px;
    font-size: 30px;
    text-align: center;
    background-color:#fff ;
    line-height:1.5em ;
    height: ;
}

header,
footer {
    background-color: black;
    margin: auto;
    padding: .15em;
    color: #efe8e3;
}



h3 {
    font-size: large;
    font-family: arial;
    color: black;