                body {
                    margin: 0px;
                    padding: 0px;
                }
                
                .main_container {
                    background: red;
                }
                
                .header_container {
                    width: 100px;
                    height: 100px;
                    min-height: 600px;
                    max-width: 2407px;
                    margin: 0 auto;
                }